@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-background text-text font-semibold;
}

body {
  font-family: "Noto Sans Arabic", sans-serif;
}
input {
  @apply min-h-[50px] rounded-full w-full pl-10 placeholder:capitalize placeholder:font-thin;
}
label {
  @apply capitalize;
}

.file_label {
  display: block;
  width: 60vw;
  max-width: 300px;
  margin: 0 auto;
  background-color: slateblue;
  border-radius: 2px;
  font-size: 1em;
  line-height: 2.5em;
  text-align: center;
}

.file_label:hover {
  background-color: cornflowerblue;
}

.file_label:active {
  background-color: mediumaquamarine;
}

.file_input {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
